<% if signed_in? %>
<table class="front" summary="For signed-in users">
  <tr>
    <td class="main">
      <h1 class="message">What's up in Panda Town?</h1>
      <%= form_for(@message) do |f| %>
        <%= render 'shared/error_messages', object: f.object %>
        <div class="field">
          <%= f.text_area :message, placeholder: "Compose new sms..." %>
        </div>
        <div class="field">
          <%= f.label :to %><br>
          <%= f.number_field :to, placeholder: "3335558899" %>
          <%= f.hidden_field :from, :value => current_user.phone.to_i %>
        </div>
        <%= f.submit "Submit", class: "btn btn-large btn-primary" %>
      <% end %>
      <%= render 'shared/feed' %>
    </td>
    <td class="sidebar round">
      <%= render 'shared/user_info' %>
    </td>
  </tr>
</table>
<% else %>
<h1>SMS Panda App</h1>

<p>
  This is the home page for the
  SMS Panda application.
</p>

<%= link_to "Sign up here!", signup_path, :class => "signup_button round" %>
<% end %>
